#set($layout="layout/plain.vm.htm")

<body class="text-center">
    <div class="container-fluid">
        <div class="row" style="height: 70px;"></div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <legend>
                    <h1>私人空间, 非请勿入</h1>
                </legend>
                <div>
                    <p>
                        个人学习站点, 暂不对外, 抱歉<br><br>
                        <a href="mailto:zwb729@gmail.com">邮件我</a>
                        或
                        <a href="/">返回主页</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>